# üìä AML Dataset Summary ‚Äî EDA
**Files Read:** `../outputs/accounts.csv`, `customers.csv`, `beneficiaries.csv`, `devices.csv`  
**Output Written:** `AML_Dataset_Summary.xlsx` ‚Üí saved in this `EDA/` folder  

> Run this notebook from the `EDA/` folder. Paths are resolved dynamically.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from openpyxl import Workbook
from openpyxl.styles import Font, PatternFill, Alignment, Border, Side
from openpyxl.utils import get_column_letter

In [4]:
# ‚îÄ‚îÄ Dynamic paths ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# This notebook lives in <project_root>/EDA/
# Data files live in     <project_root>/outputs/
# Get current working directory (EDA folder)
BASE_DIR = Path.cwd()

# Go one level up
PROJECT_ROOT = BASE_DIR.parent

OUTPUTS_DIR = PROJECT_ROOT / 'outputs'          # .../outputs/
OUTPUT_FILE = PROJECT_ROOT / 'EDA'/'AML_Dataset_Summary.xlsx'

print(f'Reading from : {OUTPUTS_DIR}')
print(f'Saving to    : {OUTPUT_FILE}')
print(PROJECT_ROOT)

Reading from : c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\outputs
Saving to    : c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\EDA\AML_Dataset_Summary.xlsx
c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model

## 1. Load Data

In [5]:
accounts      = pd.read_csv(OUTPUTS_DIR / 'accounts.csv')
customers     = pd.read_csv(OUTPUTS_DIR / 'customers.csv')
beneficiaries = pd.read_csv(OUTPUTS_DIR / 'beneficiaries.csv')
devices       = pd.read_csv(OUTPUTS_DIR / 'devices.csv')

print(f'Accounts      : {accounts.shape[0]:,} rows √ó {accounts.shape[1]} cols')
print(f'Customers     : {customers.shape[0]:,} rows √ó {customers.shape[1]} cols')
print(f'Beneficiaries : {beneficiaries.shape[0]:,} rows √ó {beneficiaries.shape[1]} cols')
print(f'Devices       : {devices.shape[0]:,} rows √ó {devices.shape[1]} cols')

Accounts      : 1,500 rows √ó 12 cols
Customers     : 1,000 rows √ó 11 cols
Beneficiaries : 500 rows √ó 3 cols
Devices       : 800 rows √ó 6 cols

## 2. Helper Functions

In [6]:
def pct_df(df, col, label):
    """Value counts with percentage."""
    d = df[col].value_counts().reset_index()
    d.columns = [label, 'Count']
    d['Percentage (%)'] = (d['Count'] / len(df) * 100).round(2)
    return d

def stats_df(df, col, label):
    """Descriptive statistics."""
    d = df[col].describe().round(2).reset_index()
    d.columns = ['Statistic', label]
    return d

def flag_df(df, col, label, mapping):
    """Binary flag with readable labels."""
    d = df[col].value_counts().reset_index()
    d.columns = [label, 'Count']
    d[label] = d[label].map(mapping)
    d['Percentage (%)'] = (d['Count'] / len(df) * 100).round(2)
    return d

## 3. Accounts EDA

In [7]:
print('=== ACCOUNTS ===')
print(f'Total Accounts: {len(accounts):,}')
print()

acc_occ   = pct_df(accounts, 'occupation', 'Occupation')
acc_type  = pct_df(accounts, 'account_type', 'Account Type')
acc_kyc   = pct_df(accounts, 'kyc_level', 'KYC Level')
acc_risk  = pct_df(accounts, 'customer_risk_rating', 'Risk Rating')
acc_crisk = pct_df(accounts, 'country_risk', 'Country Risk')
acc_inc   = pct_df(accounts, 'income_bracket', 'Income Bracket')
acc_ind   = pct_df(accounts, 'industry', 'Industry')
acc_pep   = flag_df(accounts, 'pep_flag', 'PEP Flag', {0: 'Non-PEP', 1: 'PEP'})
acc_bal   = stats_df(accounts, 'avg_balance', 'Avg Balance (INR)')
acc_days  = stats_df(accounts, 'account_open_days', 'Account Open Days')

print('Occupation Distribution:')
display(acc_occ)
print('\nKYC Level:')
display(acc_kyc)
print('\nRisk Rating:')
display(acc_risk)
print('\nCountry Risk:')
display(acc_crisk)

=== ACCOUNTS ===
Total Accounts: 1,500

Occupation Distribution:

            Occupation  Count  Percentage (%)
0             salaried    383           25.53
1        self_employed    231           15.40
2       business_owner    200           13.33
3  government_employee    168           11.20
4              retired    142            9.47
5              student    140            9.33
6           freelancer    125            8.33
7           unemployed    111            7.40

KYC Level:

  KYC Level  Count  Percentage (%)
0    medium    790           52.67
1      high    422           28.13
2       low    288           19.20

Risk Rating:

  Risk Rating  Count  Percentage (%)
0         low    699           46.60
1      medium    486           32.40
2        high    224           14.93
3   very_high     91            6.07

Country Risk:

  Country Risk  Count  Percentage (%)
0          low    907           60.47
1       medium    427           28.47
2         high    166           11.07

## 4. Customers EDA

In [8]:
print('=== CUSTOMERS ===')
print(f'Total Customers: {len(customers):,}')
print()

cust_occ   = pct_df(customers, 'occupation', 'Occupation')
cust_risk  = pct_df(customers, 'customer_risk_rating', 'Risk Rating')
cust_kyc   = pct_df(customers, 'kyc_level', 'KYC Level')
cust_crisk = pct_df(customers, 'country_risk', 'Country Risk')
cust_inc   = pct_df(customers, 'income_bracket', 'Income Bracket')
cust_ind   = pct_df(customers, 'industry', 'Industry')
cust_atype = pct_df(customers, 'account_type', 'Account Type')
cust_pep   = flag_df(customers, 'pep_flag', 'PEP Flag', {0: 'Non-PEP', 1: 'PEP'})
cust_age   = stats_df(customers, 'age', 'Customer Age')
cust_since = stats_df(customers, 'customer_since_days', 'Customer Since (Days)')

print('Occupation Distribution:')
display(cust_occ)
print('\nRisk Rating:')
display(cust_risk)
print('\nAge Statistics:')
display(cust_age)

=== CUSTOMERS ===
Total Customers: 1,000

Occupation Distribution:

            Occupation  Count  Percentage (%)
0             salaried    257            25.7
1        self_employed    155            15.5
2       business_owner    130            13.0
3  government_employee    112            11.2
4              retired    103            10.3
5              student     87             8.7
6           freelancer     82             8.2
7           unemployed     74             7.4

Risk Rating:

  Risk Rating  Count  Percentage (%)
0         low    472            47.2
1      medium    335            33.5
2        high    141            14.1
3   very_high     52             5.2

Age Statistics:

  Statistic  Customer Age
0     count       1000.00
1      mean         45.38
2       std         14.12
3       min         21.00
4       25%         33.00
5       50%         46.00
6       75%         57.00
7       max         69.00

## 5. Beneficiaries EDA

In [9]:
print('=== BENEFICIARIES ===')
print(f'Total Beneficiaries: {len(beneficiaries):,}')
print()

ben_type = pct_df(beneficiaries, 'beneficiary_type', 'Beneficiary Type')
ben_risk = pct_df(beneficiaries, 'beneficiary_country_risk', 'Country Risk')

print('Beneficiary Type:')
display(ben_type)
print('\nBeneficiary Country Risk:')
display(ben_risk)

=== BENEFICIARIES ===
Total Beneficiaries: 500

Beneficiary Type:

  Beneficiary Type  Count  Percentage (%)
0       individual    304            60.8
1         merchant    151            30.2
2         offshore     23             4.6
3           crypto     22             4.4

Beneficiary Country Risk:

  Country Risk  Count  Percentage (%)
0          low    364            72.8
1       medium    105            21.0
2         high     31             6.2

## 6. Devices EDA

In [10]:
print('=== DEVICES ===')
print(f'Total Devices: {len(devices):,}')
print()

dev_os   = pct_df(devices, 'os_type', 'OS Type')
dev_root = flag_df(devices, 'rooted_flag', 'Rooted', {0: 'Not Rooted', 1: 'Rooted'})
dev_vpn  = flag_df(devices, 'vpn_flag', 'VPN', {0: 'No VPN', 1: 'VPN Active'})
dev_emu  = flag_df(devices, 'emulator_flag', 'Emulator', {0: 'Not Emulator', 1: 'Emulator'})
dev_age  = stats_df(devices, 'device_age_days', 'Device Age (Days)')

print('OS Type Distribution:')
display(dev_os)
print('\nRooted Devices:')
display(dev_root)
print('\nVPN Usage:')
display(dev_vpn)
print('\nEmulator Detection:')
display(dev_emu)
print('\nDevice Age Stats:')
display(dev_age)

=== DEVICES ===
Total Devices: 800

OS Type Distribution:

   OS Type  Count  Percentage (%)
0  android    360           45.00
1      ios    321           40.12
2  windows     75            9.38
3  unknown     44            5.50

Rooted Devices:

       Rooted  Count  Percentage (%)
0  Not Rooted    764            95.5
1      Rooted     36             4.5

VPN Usage:

          VPN  Count  Percentage (%)
0      No VPN    729           91.12
1  VPN Active     71            8.88

Emulator Detection:

       Emulator  Count  Percentage (%)
0  Not Emulator    777           97.12
1      Emulator     23            2.88

Device Age Stats:

  Statistic  Device Age (Days)
0     count             800.00
1      mean             757.70
2       std             418.31
3       min              36.00
4       25%             397.75
5       50%             756.00
6       75%            1113.00
7       max            1494.00

## 7. Build Excel Summary

In [11]:
# ‚îÄ‚îÄ Styling constants ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
HDR_FILL  = PatternFill('solid', start_color='1F3864')
SUB_FILL  = PatternFill('solid', start_color='2E75B6')
HDR2_FILL = PatternFill('solid', start_color='BDD7EE')
ALT_FILL  = PatternFill('solid', start_color='D9E1F2')
WHITE     = PatternFill('solid', start_color='FFFFFF')
RED_FILL  = PatternFill('solid', start_color='FFE0E0')
THIN = Border(
    left=Side(style='thin', color='B8CCE4'),
    right=Side(style='thin', color='B8CCE4'),
    top=Side(style='thin', color='B8CCE4'),
    bottom=Side(style='thin', color='B8CCE4'),
)

def hdr(ws, row, col, val, size=11, fill=None, color='FFFFFF'):
    fill = fill or HDR_FILL
    c = ws.cell(row=row, column=col, value=val)
    c.font = Font(name='Arial', bold=True, size=size, color=color)
    c.fill = fill
    c.alignment = Alignment(horizontal='center', vertical='center', wrap_text=True)
    c.border = THIN
    return c

def dat(ws, row, col, val, alt=False, bold=False, center=False):
    c = ws.cell(row=row, column=col, value=val)
    c.font = Font(name='Arial', size=10, bold=bold, color='1F2D3D')
    c.fill = ALT_FILL if alt else WHITE
    c.alignment = Alignment(horizontal='center' if center else 'left', vertical='center')
    c.border = THIN
    return c

def write_block(ws, sr, sc, title, dataframe):
    """Write a titled table block. Returns the next available row."""
    ec = sc + len(dataframe.columns) - 1
    ws.merge_cells(start_row=sr, start_column=sc, end_row=sr, end_column=ec)
    hdr(ws, sr, sc, title, size=10, fill=SUB_FILL)
    ws.row_dimensions[sr].height = 22
    for ci, col_name in enumerate(dataframe.columns, start=sc):
        hdr(ws, sr+1, ci, col_name, size=9, fill=HDR2_FILL, color='1F2D3D')
    for ri, (_, row_data) in enumerate(dataframe.iterrows()):
        alt = ri % 2 == 1
        for ci, val in enumerate(row_data, start=sc):
            dat(ws, sr+2+ri, ci, val, alt=alt, center=(ci > sc))
    for ci in range(sc, ec+1):
        cl = get_column_letter(ci)
        max_w = max(len(str(ws.cell(r, ci).value or '')) for r in range(sr, sr+2+len(dataframe)))
        ws.column_dimensions[cl].width = min(max(max_w + 4, 14), 40)
    return sr + 2 + len(dataframe) + 2

print('‚úÖ Styling helpers defined')

‚úÖ Styling helpers defined

In [12]:
wb  = Workbook()
pep_acc  = pd.DataFrame({'PEP Status': ['Non-PEP','PEP'], 'Count': [1451,49],  'Percentage (%)': [96.73, 3.27]})
pep_cust = pd.DataFrame({'PEP Status': ['Non-PEP','PEP'], 'Count': [963, 37],   'Percentage (%)': [96.30, 3.70]})

# ‚îÄ‚îÄ Sheet 1: Overview ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
ws0 = wb.active
ws0.title = 'üìä Overview'
ws0.sheet_view.showGridLines = False
ws0.merge_cells('A1:F1')
hdr(ws0, 1, 1, 'SmartSentry AML ‚Äî Dataset Summary Report', size=15, fill=HDR_FILL)
ws0.row_dimensions[1].height = 40
ws0.merge_cells('A2:F2')
hdr(ws0, 2, 1, 'Accounts | Customers | Beneficiaries | Devices', size=10, fill=SUB_FILL)

overview = pd.DataFrame({
    'File':        ['accounts.csv', 'customers.csv', 'beneficiaries.csv', 'devices.csv'],
    'Rows':        [len(accounts), len(customers), len(beneficiaries), len(devices)],
    'Columns':     [accounts.shape[1], customers.shape[1], beneficiaries.shape[1], devices.shape[1]],
    'Description': [
        'Account-level: balance, KYC, risk, industry',
        'Customer demographics: age, occupation, risk, PEP',
        'Beneficiary type & country risk',
        'Device OS, age, root/VPN/emulator flags',
    ]
})
r = write_block(ws0, 4, 1, 'üìÅ File Overview', overview)

highlights = pd.DataFrame({
    'Metric': [
        'Total Accounts','Total Customers','Total Beneficiaries','Total Devices',
        'PEP Accounts','High-Risk Accounts','Rooted Devices','VPN-Active Devices','Emulator Devices'
    ],
    'Count':  [len(accounts), len(customers), len(beneficiaries), len(devices), 49, 224, 36, 71, 23],
    'Percentage (%)': ['‚Äî','‚Äî','‚Äî','‚Äî','3.27%','14.93%','4.50%','8.88%','2.88%'],
    'Risk Note': [
        'Base size','Base size','Base size','Base size',
        '‚ö†Ô∏è PEP ‚Äî needs monitoring',
        '‚ö†Ô∏è Enhanced due diligence required',
        'üî¥ Security controls bypassed',
        'üî¥ True location hidden',
        'üî¥ Automated fraud tool risk',
    ]
})
write_block(ws0, r, 1, 'üîë Key Highlights', highlights)
print('‚úÖ Overview sheet done')

‚úÖ Overview sheet done

In [13]:
# ‚îÄ‚îÄ Sheet 2: Accounts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
ws1 = wb.create_sheet('üè¶ Accounts')
ws1.sheet_view.showGridLines = False
ws1.merge_cells('A1:I1')
hdr(ws1, 1, 1, f'ACCOUNTS ‚Äî Total Records: {len(accounts):,}', size=13, fill=HDR_FILL)
ws1.row_dimensions[1].height = 35

r  = write_block(ws1, 3, 1, 'Occupation Distribution', acc_occ)
r  = write_block(ws1, r,  1, 'Account Type',            acc_type)
r  = write_block(ws1, r,  1, 'KYC Level',               acc_kyc)
r  = write_block(ws1, r,  1, 'Customer Risk Rating',    acc_risk)
r2 = write_block(ws1, 3,  5, 'Country Risk',            acc_crisk)
r2 = write_block(ws1, r2, 5, 'Income Bracket',          acc_inc)
r2 = write_block(ws1, r2, 5, 'Industry',                acc_ind)
r2 = write_block(ws1, r2, 5, 'PEP Flag',               pep_acc)
r3 = write_block(ws1, 3,  9, 'Avg Balance (INR) Stats', acc_bal)
r3 = write_block(ws1, r3, 9, 'Account Open Days Stats', acc_days)
print('‚úÖ Accounts sheet done')

‚úÖ Accounts sheet done

In [14]:
# ‚îÄ‚îÄ Sheet 3: Customers ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
ws2 = wb.create_sheet('üë§ Customers')
ws2.sheet_view.showGridLines = False
ws2.merge_cells('A1:I1')
hdr(ws2, 1, 1, f'CUSTOMERS ‚Äî Total Records: {len(customers):,}', size=13, fill=HDR_FILL)
ws2.row_dimensions[1].height = 35

r  = write_block(ws2, 3,  1, 'Occupation Distribution', cust_occ)
r  = write_block(ws2, r,  1, 'Account Type',            cust_atype)
r  = write_block(ws2, r,  1, 'KYC Level',               cust_kyc)
r  = write_block(ws2, r,  1, 'Risk Rating',             cust_risk)
r2 = write_block(ws2, 3,  5, 'Country Risk',            cust_crisk)
r2 = write_block(ws2, r2, 5, 'Income Bracket',          cust_inc)
r2 = write_block(ws2, r2, 5, 'Industry',                cust_ind)
r2 = write_block(ws2, r2, 5, 'PEP Flag',               pep_cust)
r3 = write_block(ws2, 3,  9, 'Customer Age Stats',      cust_age)
r3 = write_block(ws2, r3, 9, 'Customer Since Days',     cust_since)
print('‚úÖ Customers sheet done')

‚úÖ Customers sheet done

In [15]:
# ‚îÄ‚îÄ Sheet 4: Beneficiaries ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
ws3 = wb.create_sheet('üí∏ Beneficiaries')
ws3.sheet_view.showGridLines = False
ws3.merge_cells('A1:F1')
hdr(ws3, 1, 1, f'BENEFICIARIES ‚Äî Total Records: {len(beneficiaries):,}', size=13, fill=HDR_FILL)
ws3.row_dimensions[1].height = 35

r = write_block(ws3, 3, 1, 'Beneficiary Type Distribution', ben_type)
r = write_block(ws3, r, 1, 'Beneficiary Country Risk',      ben_risk)

commentary = pd.DataFrame({
    'Type':            ['individual', 'merchant', 'offshore', 'crypto'],
    'Share':           ['60.8%', '30.2%', '4.6%', '4.4%'],
    'Risk Commentary': [
        'Standard personal transfers ‚Äî baseline risk',
        'Business/retail transactions ‚Äî moderate risk',
        '‚ö†Ô∏è Offshore entities ‚Äî elevated AML risk',
        'üî¥ Crypto wallets ‚Äî high anonymity, high AML concern',
    ]
})
write_block(ws3, r, 1, 'Risk Commentary by Type', commentary)
print('‚úÖ Beneficiaries sheet done')

‚úÖ Beneficiaries sheet done

In [16]:
# ‚îÄ‚îÄ Sheet 5: Devices ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
ws4 = wb.create_sheet('üì± Devices')
ws4.sheet_view.showGridLines = False
ws4.merge_cells('A1:I1')
hdr(ws4, 1, 1, f'DEVICES ‚Äî Total Records: {len(devices):,}', size=13, fill=HDR_FILL)
ws4.row_dimensions[1].height = 35

r  = write_block(ws4, 3,  1, 'OS Type Distribution', dev_os)
r  = write_block(ws4, r,  1, 'Rooted Devices',        dev_root)
r  = write_block(ws4, r,  1, 'VPN Active',            dev_vpn)
r  = write_block(ws4, r,  1, 'Emulator Detected',     dev_emu)
r2 = write_block(ws4, 3,  5, 'Device Age Stats',      dev_age)

risk_tbl = pd.DataFrame({
    'Flag':           ['Rooted Device', 'VPN Active', 'Emulator', 'Unknown OS'],
    'Count':          [int(devices['rooted_flag'].sum()), int(devices['vpn_flag'].sum()),
                       int(devices['emulator_flag'].sum()), int((devices['os_type']=='unknown').sum())],
    'Percentage (%)': [
        round(devices['rooted_flag'].mean()*100, 2),
        round(devices['vpn_flag'].mean()*100, 2),
        round(devices['emulator_flag'].mean()*100, 2),
        round((devices['os_type']=='unknown').mean()*100, 2),
    ],
    'Risk Level':    ['üî¥ Critical','üî¥ Critical','üî¥ Critical','‚ö†Ô∏è Medium'],
    'AML Concern':   [
        'Root access bypasses app-level security',
        'Hides true IP / geolocation',
        'Automated transaction scripting',
        'Unidentifiable OS ‚Äî data quality issue',
    ]
})
write_block(ws4, r2, 5, 'Device Risk Flag Summary', risk_tbl)
print('‚úÖ Devices sheet done')

‚úÖ Devices sheet done

## 8. Save Excel

In [17]:
wb.save(OUTPUT_FILE)
print(f'‚úÖ Workbook saved ‚Üí {OUTPUT_FILE}')
print(f'   Sheets: {[s.title for s in wb.worksheets]}')

‚úÖ Workbook saved ‚Üí c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\EDA\AML_Dataset_Summary.xlsx
   Sheets: ['üìä Overview', 'üè¶ Accounts', 'üë§ Customers', 'üí∏ Beneficiaries', 'üì± Devices']