# ðŸ“Š AML Dataset Summary â€” EDA
**Files Read:** `../outputs/accounts.csv`, `customers.csv`, `beneficiaries.csv`, `devices.csv`  
**Output Written:** `AML_Dataset_Summary.xlsx` â†’ saved in this `EDA/` folder  

> Run this notebook from the `EDA/` folder. Paths are resolved dynamically.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from openpyxl import Workbook
from openpyxl.styles import Font, PatternFill, Alignment, Border, Side
from openpyxl.utils import get_column_letter

In [2]:
# â”€â”€ Dynamic paths â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# This notebook lives in <project_root>/EDA/
# Data files live in     <project_root>/outputs/
# Get current working directory (EDA folder)
BASE_DIR = Path.cwd()

# Go one level up
PROJECT_ROOT = BASE_DIR.parent

OUTPUTS_DIR = PROJECT_ROOT / 'outputs'          # .../outputs/
OUTPUT_FILE = PROJECT_ROOT / 'EDA'/'AML_Dataset_Summary.xlsx'

print(f'Reading from : {OUTPUTS_DIR}')
print(f'Saving to    : {OUTPUT_FILE}')
print(PROJECT_ROOT)

Reading from : c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\outputs
Saving to    : c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\EDA\AML_Dataset_Summary.xlsx
c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model

## 1. Load Data

In [3]:
accounts      = pd.read_csv(OUTPUTS_DIR / 'accounts.csv')
customers     = pd.read_csv(OUTPUTS_DIR / 'customers.csv')
beneficiaries = pd.read_csv(OUTPUTS_DIR / 'beneficiaries.csv')
devices       = pd.read_csv(OUTPUTS_DIR / 'devices.csv')

print(f'Accounts      : {accounts.shape[0]:,} rows Ã— {accounts.shape[1]} cols')
print(f'Customers     : {customers.shape[0]:,} rows Ã— {customers.shape[1]} cols')
print(f'Beneficiaries : {beneficiaries.shape[0]:,} rows Ã— {beneficiaries.shape[1]} cols')
print(f'Devices       : {devices.shape[0]:,} rows Ã— {devices.shape[1]} cols')

Accounts      : 8,500 rows Ã— 18 cols
Customers     : 5,000 rows Ã— 17 cols
Beneficiaries : 6,000 rows Ã— 7 cols
Devices       : 4,500 rows Ã— 6 cols

## 2. Helper Functions

In [4]:
def pct_df(df, col, label):
    """Value counts with percentage."""
    d = df[col].value_counts().reset_index()
    d.columns = [label, 'Count']
    d['Percentage (%)'] = (d['Count'] / len(df) * 100).round(2)
    return d

def stats_df(df, col, label):
    """Descriptive statistics."""
    d = df[col].describe().round(2).reset_index()
    d.columns = ['Statistic', label]
    return d

def flag_df(df, col, label, mapping):
    """Binary flag with readable labels."""
    d = df[col].value_counts().reset_index()
    d.columns = [label, 'Count']
    d[label] = d[label].map(mapping)
    d['Percentage (%)'] = (d['Count'] / len(df) * 100).round(2)
    return d

## 3. Accounts EDA

In [5]:
print('=== ACCOUNTS ===')
print(f'Total Accounts: {len(accounts):,}')
print()

acc_occ   = pct_df(accounts, 'occupation', 'Occupation')
acc_type  = pct_df(accounts, 'account_type', 'Account Type')
acc_kyc   = pct_df(accounts, 'kyc_level', 'KYC Level')
acc_risk  = pct_df(accounts, 'customer_risk_rating', 'Risk Rating')
acc_crisk = pct_df(accounts, 'country_risk', 'Country Risk')
acc_inc   = pct_df(accounts, 'income_bracket', 'Income Bracket')
acc_ind   = pct_df(accounts, 'industry', 'Industry')
acc_pep   = flag_df(accounts, 'pep_flag', 'PEP Flag', {0: 'Non-PEP', 1: 'PEP'})
acc_bal   = stats_df(accounts, 'avg_balance', 'Avg Balance (INR)')
acc_days  = stats_df(accounts, 'account_open_days', 'Account Open Days')

print('Occupation Distribution:')
display(acc_occ)
print('\nKYC Level:')
display(acc_kyc)
print('\nRisk Rating:')
display(acc_risk)
print('\nCountry Risk:')
display(acc_crisk)

=== ACCOUNTS ===
Total Accounts: 8,500

Occupation Distribution:

            Occupation  Count  Percentage (%)
0             salaried   2519           29.64
1        self_employed   1271           14.95
2       business_owner   1048           12.33
3  government_employee    883           10.39
4              retired    878           10.33
5           freelancer    691            8.13
6              student    645            7.59
7           unemployed    565            6.65

KYC Level:

  KYC Level  Count  Percentage (%)
0    medium   4318           50.80
1      high   2472           29.08
2       low   1710           20.12

Risk Rating:

  Risk Rating  Count  Percentage (%)
0         low   4328           50.92
1      medium   2521           29.66
2        high   1259           14.81
3   very_high    392            4.61

Country Risk:

  Country Risk  Count  Percentage (%)
0          low   5034           59.22
1       medium   2560           30.12
2         high    906           10.66

## 4. Customers EDA

In [6]:
print('=== CUSTOMERS ===')
print(f'Total Customers: {len(customers):,}')
print()

cust_occ   = pct_df(customers, 'occupation', 'Occupation')
cust_risk  = pct_df(customers, 'customer_risk_rating', 'Risk Rating')
cust_kyc   = pct_df(customers, 'kyc_level', 'KYC Level')
cust_crisk = pct_df(customers, 'country_risk', 'Country Risk')
cust_inc   = pct_df(customers, 'income_bracket', 'Income Bracket')
cust_ind   = pct_df(customers, 'industry', 'Industry')
cust_atype = pct_df(customers, 'account_type', 'Account Type')
cust_pep   = flag_df(customers, 'pep_flag', 'PEP Flag', {0: 'Non-PEP', 1: 'PEP'})
cust_age   = stats_df(customers, 'age', 'Customer Age')
cust_since = stats_df(customers, 'customer_since_days', 'Customer Since (Days)')

print('Occupation Distribution:')
display(cust_occ)
print('\nRisk Rating:')
display(cust_risk)
print('\nAge Statistics:')
display(cust_age)

=== CUSTOMERS ===
Total Customers: 5,000

Occupation Distribution:

            Occupation  Count  Percentage (%)
0             salaried   1463           29.26
1        self_employed    741           14.82
2       business_owner    639           12.78
3  government_employee    516           10.32
4              retired    500           10.00
5           freelancer    409            8.18
6              student    384            7.68
7           unemployed    348            6.96

Risk Rating:

  Risk Rating  Count  Percentage (%)
0         low   2566           51.32
1      medium   1449           28.98
2        high    754           15.08
3   very_high    231            4.62

Age Statistics:

  Statistic  Customer Age
0     count       5000.00
1      mean         45.23
2       std         14.14
3       min         21.00
4       25%         33.00
5       50%         45.00
6       75%         57.00
7       max         69.00

## 5. Beneficiaries EDA

In [7]:
beneficiaries.head()

,beneficiary_id,beneficiary_type,beneficiary_country_risk,shell_jurisdiction,shell_age_days,ubo_disclosed,shell_newly_incorporated
0,B0,business,low,NaN,NaN,NaN,0
1,B1,individual,low,NaN,NaN,NaN,0
2,B2,individual,high,NaN,NaN,NaN,0
3,B3,business,low,NaN,NaN,NaN,0
4,B4,individual,low,NaN,NaN,NaN,0

In [10]:
print('=== BENEFICIARIES ===')
print(f'Total Beneficiaries: {len(beneficiaries):,}')
print()

ben_type = pct_df(beneficiaries, 'beneficiary_type', 'Beneficiary Type')
ben_risk = pct_df(beneficiaries, 'beneficiary_country_risk', 'Country Risk')
Shell_Jurisdiction = pct_df(beneficiaries, 'shell_jurisdiction', 'shell_jurisdiction')
#ben_risk = pct_df(beneficiaries, 'beneficiary_country_risk', 'Country Risk')

print('Beneficiary Type:')
display(ben_type)
print('\nBeneficiary Country Risk:')
display(ben_risk)
print('\nBeneficiary Shell Jurisdiction:')
display(Shell_Jurisdiction)

=== BENEFICIARIES ===
Total Beneficiaries: 6,000

Beneficiary Type:

  Beneficiary Type  Count  Percentage (%)
0       individual   3304           55.07
1         business   1503           25.05
2    shell_company    469            7.82
3           crypto    410            6.83
4         offshore    314            5.23

Beneficiary Country Risk:

  Country Risk  Count  Percentage (%)
0          low   3333           55.55
1       medium   1483           24.72
2         high   1184           19.73

Beneficiary Shell Jurisdiction:

  shell_jurisdiction  Count  Percentage (%)
0                BVI    113            1.88
1             Cayman     86            1.43
2           Delaware     58            0.97
3          Mauritius     56            0.93
4             Panama     50            0.83
5         Luxembourg     44            0.73
6         Seychelles     43            0.72
7          Singapore     19            0.32

## 6. Devices EDA

In [11]:
print('=== DEVICES ===')
print(f'Total Devices: {len(devices):,}')
print()

dev_os   = pct_df(devices, 'os_type', 'OS Type')
dev_root = flag_df(devices, 'rooted_flag', 'Rooted', {0: 'Not Rooted', 1: 'Rooted'})
dev_vpn  = flag_df(devices, 'vpn_flag', 'VPN', {0: 'No VPN', 1: 'VPN Active'})
dev_emu  = flag_df(devices, 'emulator_flag', 'Emulator', {0: 'Not Emulator', 1: 'Emulator'})
dev_age  = stats_df(devices, 'device_age_days', 'Device Age (Days)')

print('OS Type Distribution:')
display(dev_os)
print('\nRooted Devices:')
display(dev_root)
print('\nVPN Usage:')
display(dev_vpn)
print('\nEmulator Detection:')
display(dev_emu)
print('\nDevice Age Stats:')
display(dev_age)

=== DEVICES ===
Total Devices: 4,500

OS Type Distribution:

   OS Type  Count  Percentage (%)
0  android   1978           43.96
1      ios   1809           40.20
2  windows    472           10.49
3  unknown    241            5.36

Rooted Devices:

       Rooted  Count  Percentage (%)
0  Not Rooted   4305           95.67
1      Rooted    195            4.33

VPN Usage:

          VPN  Count  Percentage (%)
0      No VPN   4128           91.73
1  VPN Active    372            8.27

Emulator Detection:

       Emulator  Count  Percentage (%)
0  Not Emulator   4363           96.96
1      Emulator    137            3.04

Device Age Stats:

  Statistic  Device Age (Days)
0     count            4500.00
1      mean             760.51
2       std             423.79
3       min              30.00
4       25%             393.00
5       50%             766.00
6       75%            1132.00
7       max            1499.00

## 7. Build Excel Summary

In [12]:
# â”€â”€ Styling constants â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
HDR_FILL  = PatternFill('solid', start_color='1F3864')
SUB_FILL  = PatternFill('solid', start_color='2E75B6')
HDR2_FILL = PatternFill('solid', start_color='BDD7EE')
ALT_FILL  = PatternFill('solid', start_color='D9E1F2')
WHITE     = PatternFill('solid', start_color='FFFFFF')
RED_FILL  = PatternFill('solid', start_color='FFE0E0')
THIN = Border(
    left=Side(style='thin', color='B8CCE4'),
    right=Side(style='thin', color='B8CCE4'),
    top=Side(style='thin', color='B8CCE4'),
    bottom=Side(style='thin', color='B8CCE4'),
)

def hdr(ws, row, col, val, size=11, fill=None, color='FFFFFF'):
    fill = fill or HDR_FILL
    c = ws.cell(row=row, column=col, value=val)
    c.font = Font(name='Arial', bold=True, size=size, color=color)
    c.fill = fill
    c.alignment = Alignment(horizontal='center', vertical='center', wrap_text=True)
    c.border = THIN
    return c

def dat(ws, row, col, val, alt=False, bold=False, center=False):
    c = ws.cell(row=row, column=col, value=val)
    c.font = Font(name='Arial', size=10, bold=bold, color='1F2D3D')
    c.fill = ALT_FILL if alt else WHITE
    c.alignment = Alignment(horizontal='center' if center else 'left', vertical='center')
    c.border = THIN
    return c

def write_block(ws, sr, sc, title, dataframe):
    """Write a titled table block. Returns the next available row."""
    ec = sc + len(dataframe.columns) - 1
    ws.merge_cells(start_row=sr, start_column=sc, end_row=sr, end_column=ec)
    hdr(ws, sr, sc, title, size=10, fill=SUB_FILL)
    ws.row_dimensions[sr].height = 22
    for ci, col_name in enumerate(dataframe.columns, start=sc):
        hdr(ws, sr+1, ci, col_name, size=9, fill=HDR2_FILL, color='1F2D3D')
    for ri, (_, row_data) in enumerate(dataframe.iterrows()):
        alt = ri % 2 == 1
        for ci, val in enumerate(row_data, start=sc):
            dat(ws, sr+2+ri, ci, val, alt=alt, center=(ci > sc))
    for ci in range(sc, ec+1):
        cl = get_column_letter(ci)
        max_w = max(len(str(ws.cell(r, ci).value or '')) for r in range(sr, sr+2+len(dataframe)))
        ws.column_dimensions[cl].width = min(max(max_w + 4, 14), 40)
    return sr + 2 + len(dataframe) + 2

print('âœ… Styling helpers defined')

âœ… Styling helpers defined

In [13]:
wb  = Workbook()
pep_acc  = pd.DataFrame({'PEP Status': ['Non-PEP','PEP'], 'Count': [1451,49],  'Percentage (%)': [96.73, 3.27]})
pep_cust = pd.DataFrame({'PEP Status': ['Non-PEP','PEP'], 'Count': [963, 37],   'Percentage (%)': [96.30, 3.70]})

# â”€â”€ Sheet 1: Overview â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ws0 = wb.active
ws0.title = 'ðŸ“Š Overview'
ws0.sheet_view.showGridLines = False
ws0.merge_cells('A1:F1')
hdr(ws0, 1, 1, 'SmartSentry AML â€” Dataset Summary Report', size=15, fill=HDR_FILL)
ws0.row_dimensions[1].height = 40
ws0.merge_cells('A2:F2')
hdr(ws0, 2, 1, 'Accounts | Customers | Beneficiaries | Devices', size=10, fill=SUB_FILL)

overview = pd.DataFrame({
    'File':        ['accounts.csv', 'customers.csv', 'beneficiaries.csv', 'devices.csv'],
    'Rows':        [len(accounts), len(customers), len(beneficiaries), len(devices)],
    'Columns':     [accounts.shape[1], customers.shape[1], beneficiaries.shape[1], devices.shape[1]],
    'Description': [
        'Account-level: balance, KYC, risk, industry',
        'Customer demographics: age, occupation, risk, PEP',
        'Beneficiary type & country risk',
        'Device OS, age, root/VPN/emulator flags',
    ]
})
r = write_block(ws0, 4, 1, 'ðŸ“ File Overview', overview)

highlights = pd.DataFrame({
    'Metric': [
        'Total Accounts','Total Customers','Total Beneficiaries','Total Devices',
        'PEP Accounts','High-Risk Accounts','Rooted Devices','VPN-Active Devices','Emulator Devices'
    ],
    'Count':  [len(accounts), len(customers), len(beneficiaries), len(devices), 49, 224, 36, 71, 23],
    'Percentage (%)': ['â€”','â€”','â€”','â€”','3.27%','14.93%','4.50%','8.88%','2.88%'],
    'Risk Note': [
        'Base size','Base size','Base size','Base size',
        'âš ï¸ PEP â€” needs monitoring',
        'âš ï¸ Enhanced due diligence required',
        'ðŸ”´ Security controls bypassed',
        'ðŸ”´ True location hidden',
        'ðŸ”´ Automated fraud tool risk',
    ]
})
write_block(ws0, r, 1, 'ðŸ”‘ Key Highlights', highlights)
print('âœ… Overview sheet done')

âœ… Overview sheet done

In [14]:
# â”€â”€ Sheet 2: Accounts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ws1 = wb.create_sheet('ðŸ¦ Accounts')
ws1.sheet_view.showGridLines = False
ws1.merge_cells('A1:I1')
hdr(ws1, 1, 1, f'ACCOUNTS â€” Total Records: {len(accounts):,}', size=13, fill=HDR_FILL)
ws1.row_dimensions[1].height = 35

r  = write_block(ws1, 3, 1, 'Occupation Distribution', acc_occ)
r  = write_block(ws1, r,  1, 'Account Type',            acc_type)
r  = write_block(ws1, r,  1, 'KYC Level',               acc_kyc)
r  = write_block(ws1, r,  1, 'Customer Risk Rating',    acc_risk)
r2 = write_block(ws1, 3,  5, 'Country Risk',            acc_crisk)
r2 = write_block(ws1, r2, 5, 'Income Bracket',          acc_inc)
r2 = write_block(ws1, r2, 5, 'Industry',                acc_ind)
r2 = write_block(ws1, r2, 5, 'PEP Flag',               pep_acc)
r3 = write_block(ws1, 3,  9, 'Avg Balance (INR) Stats', acc_bal)
r3 = write_block(ws1, r3, 9, 'Account Open Days Stats', acc_days)
print('âœ… Accounts sheet done')

âœ… Accounts sheet done

In [15]:
# â”€â”€ Sheet 3: Customers â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ws2 = wb.create_sheet('ðŸ‘¤ Customers')
ws2.sheet_view.showGridLines = False
ws2.merge_cells('A1:I1')
hdr(ws2, 1, 1, f'CUSTOMERS â€” Total Records: {len(customers):,}', size=13, fill=HDR_FILL)
ws2.row_dimensions[1].height = 35

r  = write_block(ws2, 3,  1, 'Occupation Distribution', cust_occ)
r  = write_block(ws2, r,  1, 'Account Type',            cust_atype)
r  = write_block(ws2, r,  1, 'KYC Level',               cust_kyc)
r  = write_block(ws2, r,  1, 'Risk Rating',             cust_risk)
r2 = write_block(ws2, 3,  5, 'Country Risk',            cust_crisk)
r2 = write_block(ws2, r2, 5, 'Income Bracket',          cust_inc)
r2 = write_block(ws2, r2, 5, 'Industry',                cust_ind)
r2 = write_block(ws2, r2, 5, 'PEP Flag',               pep_cust)
r3 = write_block(ws2, 3,  9, 'Customer Age Stats',      cust_age)
r3 = write_block(ws2, r3, 9, 'Customer Since Days',     cust_since)
print('âœ… Customers sheet done')

âœ… Customers sheet done

In [16]:
# â”€â”€ Sheet 4: Beneficiaries â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ws3 = wb.create_sheet('ðŸ’¸ Beneficiaries')
ws3.sheet_view.showGridLines = False
ws3.merge_cells('A1:F1')
hdr(ws3, 1, 1, f'BENEFICIARIES â€” Total Records: {len(beneficiaries):,}', size=13, fill=HDR_FILL)
ws3.row_dimensions[1].height = 35

r = write_block(ws3, 3, 1, 'Beneficiary Type Distribution', ben_type)
r = write_block(ws3, r, 1, 'Beneficiary Country Risk',      ben_risk)

commentary = pd.DataFrame({
    'Type':            ['individual', 'merchant', 'offshore', 'crypto'],
    'Share':           ['60.8%', '30.2%', '4.6%', '4.4%'],
    'Risk Commentary': [
        'Standard personal transfers â€” baseline risk',
        'Business/retail transactions â€” moderate risk',
        'âš ï¸ Offshore entities â€” elevated AML risk',
        'ðŸ”´ Crypto wallets â€” high anonymity, high AML concern',
    ]
})
write_block(ws3, r, 1, 'Risk Commentary by Type', commentary)
print('âœ… Beneficiaries sheet done')

âœ… Beneficiaries sheet done

In [17]:
# â”€â”€ Sheet 5: Devices â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ws4 = wb.create_sheet('ðŸ“± Devices')
ws4.sheet_view.showGridLines = False
ws4.merge_cells('A1:I1')
hdr(ws4, 1, 1, f'DEVICES â€” Total Records: {len(devices):,}', size=13, fill=HDR_FILL)
ws4.row_dimensions[1].height = 35

r  = write_block(ws4, 3,  1, 'OS Type Distribution', dev_os)
r  = write_block(ws4, r,  1, 'Rooted Devices',        dev_root)
r  = write_block(ws4, r,  1, 'VPN Active',            dev_vpn)
r  = write_block(ws4, r,  1, 'Emulator Detected',     dev_emu)
r2 = write_block(ws4, 3,  5, 'Device Age Stats',      dev_age)

risk_tbl = pd.DataFrame({
    'Flag':           ['Rooted Device', 'VPN Active', 'Emulator', 'Unknown OS'],
    'Count':          [int(devices['rooted_flag'].sum()), int(devices['vpn_flag'].sum()),
                       int(devices['emulator_flag'].sum()), int((devices['os_type']=='unknown').sum())],
    'Percentage (%)': [
        round(devices['rooted_flag'].mean()*100, 2),
        round(devices['vpn_flag'].mean()*100, 2),
        round(devices['emulator_flag'].mean()*100, 2),
        round((devices['os_type']=='unknown').mean()*100, 2),
    ],
    'Risk Level':    ['ðŸ”´ Critical','ðŸ”´ Critical','ðŸ”´ Critical','âš ï¸ Medium'],
    'AML Concern':   [
        'Root access bypasses app-level security',
        'Hides true IP / geolocation',
        'Automated transaction scripting',
        'Unidentifiable OS â€” data quality issue',
    ]
})
write_block(ws4, r2, 5, 'Device Risk Flag Summary', risk_tbl)
print('âœ… Devices sheet done')

âœ… Devices sheet done

## 8. Save Excel

In [18]:
wb.save(OUTPUT_FILE)
print(f'âœ… Workbook saved â†’ {OUTPUT_FILE}')
print(f'   Sheets: {[s.title for s in wb.worksheets]}')

âœ… Workbook saved â†’ c:\Users\VISHNUPRIYA\OneDrive\Desktop\Freelancing\AIGEN\smartsentry_aml_model\EDA\AML_Dataset_Summary.xlsx
   Sheets: ['ðŸ“Š Overview', 'ðŸ¦ Accounts', 'ðŸ‘¤ Customers', 'ðŸ’¸ Beneficiaries', 'ðŸ“± Devices']